.my-videos .videos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}
.my-videos .videos .video a {
  text-decoration: none;
  color: var(--primary);
}
.my-videos .videos .video h3 {
  text-align: center;
}
.my-videos .videos .video img {
  width: 100%;
}

@media screen and (max-width: 900px) {
  .my-videos .videos {
    grid-template-columns: 1fr;
  }
}
